<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--application.xml对应的是系统级别的配置，作用范围是系统上下文。-->
    <!--扫描控制器-->
    <context:component-scan base-package="com.springmvccomplete.controller" />
    <!--启用mvc注解驱动-->
    <mvc:annotation-driven />
    <!--静态资源映射-->
    <mvc:resources mapping="static/**" location="static/" />
    <!--数据库连接配置-->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--以/开头会从-->
        <property name="prefix" value="static/page/" />
        <property name="suffix" value=".html" />
    </bean>
</beans>