<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--application.xml对应的是系统级别的配置，作用范围是系统上下文。-->
    <!--扫描控制器-->
    <context:component-scan base-package="com.springmvccomplete.common,com.springmvccomplete.controller" />
    <!--启用sping注解-->
    <context:annotation-config />
    <!--数据库连接配置-->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <!--启用mvc注解驱动-->
    <mvc:annotation-driven />
    <!-- 默认访问跳转到登录页面(即定义无需Controller的url<->view直接映射) -->
    <!--<mvc:view-controller path="/" view-name="forward:/"/>-->
</beans>