<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!--shiro 缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="" />
    </bean>
    <bean id="myrealm" class="com.springmvccomplete.config.ShiroRealm" />
    <!--权限管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager" />
        <property name="realm" ref="myrealm" />
    </bean>
    <!--shiro权限拦截器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--装配权限管理器-->
        <property name="securityManager" ref="securityManager" />
        <!--登录地址-->
        <property name="loginUrl" value="/login.html" />
        <!--登录成功后主页-->
        <property name="successUrl" value="static/page/main/main.html" />
        <!--无访问权限页面-->
        <property name="unauthorizedUrl" value="nopermission.html" />
        <!-- 具体配置需要拦截哪些 URL, 以及访问对应的 URL 时使用 Shiro 的什么 Filter 进行拦截.  -->
        <property name="filterChainDefinitions">
            <value>
                /static/**=anon
                <!--/admin.html=roles[admin]-->
                <!-- anon表示此地址不需要任何权限即可访问 -->
                <!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证,如果未登录则跳到/login-->
                <!--默认 放最后-->
                /** = authc
                <!--                ,urlPermissionsFilter-->
            </value>
        </property>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
    <!-- AOP式方法级权限检查 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true" />
    </bean>
</beans>