<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvccomplete.dao.ModSysAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.springmvccomplete.model.ModSysAuthority">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="menuid" jdbcType="VARCHAR" property="menuid" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, menuid, groupid
  </sql>
  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sysauthority
    where 1=1
    <if test="id!=null">
    and id = #{id,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from sysauthority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="add" parameterType="com.springmvccomplete.model.ModSysAuthority">
    insert into sysauthority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="menuid != null">
        menuid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="menuid != null">
        #{menuid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updatenonull" parameterType="com.springmvccomplete.model.ModSysAuthority">
    update sysauthority
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="menuid != null">
        menuid = #{menuid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.springmvccomplete.model.ModSysAuthority">
    update sysauthority
    set userid = #{userid,jdbcType=INTEGER},
      menuid = #{menuid,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>