<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置文件的根元素 -->
<configuration>
    <!-- 属性：定义配置外在化 如数据库的连接属性等-->
    <properties resource="jdbc.properties"></properties>
    <!-- 设置：定义mybatis的一些全局性设置 会改变MyBatis的运行时行为-->
    <settings>
        <!-- 具体的参数名和参数值 -->
        <setting name="cacheEnabled" value="true" />
        <setting name="defaultStatementTimeout" value="3000" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- 代理 -->
        <setting name="proxyFactory" value="CGLIB" />
        <setting name="lazyLoadingEnabled" value="true" />
    </settings>
    <!-- 类型名称：为一些类定义别名 支持指定包名， 会使用类的首字母小写的类限定名作为别名。-->
    <typeAliases>
        <package name="com.springmvccomplete.model" />
    </typeAliases>
    <!-- 类型处理器：定义Java类型与数据库中的数据类型之间的转换关系 -->
    <typeHandlers></typeHandlers>
    <!-- objectFactory 对象工厂 可以在创建实体对象时处理对象 需要继承DefaultObjectFactory类-->
    <!-- 插件：mybatis的插件,插件可以修改mybatis的内部运行规则 -->
    <!-- 分页插件 -->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialect" value="mysql" />
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="false" />
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="false" />
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
            <property name="pageSizeZero" value="true" />
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="true" />
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
            <!--<property name="params" value="pageNum=start;pageSize=limit;pageSizeZero=zero;reasonable=heli;count=contsql"/>-->
        </plugin>
    </plugins>
    
    <!--databaseIdProvider 数据库厂商标识 https://blog.csdn.net/likewindy/article/details/51396576-->
    <!-- 映射器：指定映射文件或者映射类 -->
    <mappers>
        <!--指定mapper接口的包名要求xml 和接口要在同一目录 否则只能一个一个写不能使用通配符-->
        <mapper resource="mybatis/mapper/SysUserMapper.xml" />
    </mappers>
</configuration>